.main-header {
	background-color: #0a3788;
	background-image: url(../img/stars.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main-navigation {

}

.main-header-logo {

}

.site-navigation {

}

.main-header-contacts {

}